<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../styles/old/index2.css">
        <title>Home</title>
    </head>

    <body>
        <div id="IndexContainer">

            <div id="ToolBar">
                <div id="ToolBarLogo">

                </div>
                <div id="ToolBarItems">
                <h1 class="ToolBarItem">First Topic</h1>
                <h1 class="ToolBarItem">Second Topic</h1>
                <h1 class="ToolBarItem">Third Topic</h1>
                </div>
            </div>

            <div id="IndexTop">
                <div id="IndexInnerTop">
                    <h1 class="PageGreeting">Welcome</h1>
                </div>
                <div id="IndexInnerBottom">
                    <h1 class="PageGreeting">Where Dreams come to die!</h1>
                </div>
            </div>

            <div id="IndexBottom">
                <h1 id="SubTitle">I like making things</h1>
            </div>
        </div>
    </body>
</html>