<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/index.css">
        <title>Home</title>
    </head>
    <body>
        <div id="IndexContainer">

            <div id="ToolBar">
                <h1 class="ToolBarItem">First Topic</h1>
                <h1 class="ToolBarItem">Second Topic</h1>
                <h1 class="ToolBarItem">Third Topic</h1>
            </div>

            <div id="IndexTop">
                <h1 id="PageGreeting">Welcome</h1>
            </div>

            <div id="IndexBottom">
                <h1 id="SubTitle">I like making things</h1>
            </div>
        </div>
    </body>
</html>