<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Home</title>
</head>
<body>
    <div id="container">
        <header>
            <ul>
                <li class="headerItem"><a href="">MY PROJECTS</a></li>
                <li class="headerItem"><a href="">ABOUT ME</a></li>
                <li class="headerItem"><a href="">CONTACT</a></li>
            </ul>
        </header>
        <main>
            <div id="welcome">
                <div id="welcomeMessage">
                    <h1>JONAH VISSCHER<span>IS</span></h1>
                    <p id="subtitle"></p>
                </div>
            </div>
            <div id="projectHeader">
                <p>MY PROJECTS</p>
            </div>
        </main>
    </div>
    <script src="../scripts/index.js"></script>
</body>
</html>