<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Home</title>
</head>
<body>
    <div id="container">
        <header>
            <div class="headerItem">
                <a href="">MY PROJECTS</a>
            </div>
            <div class="headerItem">
                <a href="">ABOUT ME</a>
            </div>
            <div class="headerItem">
                <a href="">CONTACT</a>
            </div>
        </header>
        <main>
            <div id="welcome">
                <div id="welcomeMessage">
                    <h1>WELCOME</h1>
                    <p>TO WHERE DREAMS COME TO DIE</p>
                </div>
            </div>
            <div id="projectHeader">
                <p>MY PROJECTS</p>
            </div>
        </main>
    </div>
</body>
</html>