body {
    margin: 0%;
    background-color: rgb(31, 31, 31);
    font-family: 'Calibri', 'Arial';
}

/* Header Section */

header {
    position: relative;

    background-color: rgb(48, 48, 48);
    box-shadow: 0px 15px 15px -10px black;
    padding: 0px 10px 0px 10px;
}

header ul {
    display: flex;
    justify-content:center;
    align-content: center;
    list-style-type: none;
    
    gap: 40px;
    margin: 0px 0px 0px 0px;
    padding: 2.5vh 0 2.5vh 0;
}

.headerItem a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* main Section */

main {
    height: 100%;
    background-color: rgb(64, 64, 64);
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 1vh;
    height: 35vh;

    background-image: url("../images/index_bg_2.jpg");
    background-position: center;
    background-size: cover;

    color: white;
}

#welcomeMessage {
    text-align: center;
}

#welcome h1 {
    margin: 0px;

    font-size: 40px;
    font-weight: bold;
    text-shadow: 3px 3px 2px black;
}

#welcome span {
    padding-left: 1vh;
    font-size: 20px;
}

#welcome p {
    margin: 0px;

    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
}

/* Projects Sections */

#projectHeader {
    display: flex;
    justify-content:center;
    align-items: center;

    position: relative;

    background-color: rgb(48, 48, 48);
    box-shadow: 0px -15px 15px -10px black;
    
    height: 7.5vh;
    padding: 0px 10px 0px 10px;
}

#projectHeader p {
    color: white;
    font-weight: bold;
    font-size: 32px;
}

@media (min-width: 500px) {
    header ul { justify-content:flex-end; padding-right: 4vh; }
    .headerItem { gap: 60px; }
}

@media (min-width: 700px) {
    #welcome { padding-left: 10vh; justify-content:flex-start; }
    #welcomeMessage { text-align: start; }
    #welcome h1 { font-size: 72px; }
    #welcome p { font-size: 24px; }
    #welcome span { font-size: 35px; padding-left: 2vh; }
}

@media (min-width: 1500px) {
    #container {
        margin-left: auto;
        margin-right: auto;
        width: 1500px;
    }
}